
    <h1>Catalogo corsi</h1>


<div class="row">
    <div class="col-md-1">
        <img src="" alt="">
    </div>
    <div class="col-md-5">
        <h2>Titolo corso</h2>
        <author>Nome autore</author>
    </div>
</div>